.header-top{
  display:flex;
  justify-content:space-between;
  padding-right:100px;
  padding-top:20px;
  padding-left:100px;
  padding-bottom:50px;
}

.main{
font-size:48px;
color:#F9FAF8;
font-weight:900;

}

.secondary, .link-text{
  font-size:18px;
  color:#E5E7EB;
}

.header-links{
  display:flex;
  gap:16px;
}

.hero-text{
  width:400px;
}

html{
  padding:0px;
}

button{
  background-color: #3882F6;
  color:white;
  padding-left:15px;
  padding-right:15px;
  padding-top:4px;
  padding-bottom:4px;
  border-radius:5px;
  border:none;
}

#header-button{
  margin-top:2px;
}

img{
  height:200px;
  width:500px;
}

.header-bottom{
display:flex;
justify-content:space-between;
padding-right:100px;
padding-left:100px;
padding-bottom:50px;
}

.header{
  background-color:#1F2937;
}


a{
  all:unset;
}

body{
  margin:0px;
  font-family: 'Roboto';
}

.hero-logo{
  color:#F9FAF8;
  font-size:24px;
}

.middle{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  padding-bottom:60px;
}

#middle-text{
  color:#1F2937;
  font-size:36px;
  font-weight:900;
  padding-top:40px;
  padding-bottom:40px;
}

.images{
  display:flex;
  flex-wrap:wrap;
  align-content:center;
  justify-content:center;
  gap:30px;
}


.images img{
  height:150px;
  width:150px;
}

.image{
  width:150px;
  display:flex;
  flex-direction:column;
  flex-wrap:wrap;
  text-align:center;
  gap:5px;
}

#image-1, #image-2, #image-3, #image-4{
border-radius:8px;
border:5px solid #3882F6;
}

#middle-bottom{
background-color:#E5E7EB;
display:flex;
justify-content:center;
}

#mb-text{
display:flex;
flex-direction:column;
gap:8px;
width:850px;
padding-top:60px;
padding-bottom:50px;
}

#quote{
display:flex;
font-size:36px;
color:#1F2937;
font-weight:300px;
}

#quote-author{
align-self:flex-end;
font-size:26px;
color:#1F2937;
font-weight:bold;
padding-right:10px;
}

